.footnotes-sep {
    @apply mt-20 opacity-10;
  }
  .footnotes {
    @apply text-sm opacity-75;
    margin-top: -80px !important;
  }
  .footnote-backref {
    display: none;
  }
  .footnote-ref {
    display: none;
  }